* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-image: url("https://picsum.photos/1920/1089?random=1");
    background-size: cover;
    background-position: center;
    font-family: "Sofia Sans", sans-serif;
    overflow-x: hidden;
}

.h1 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-top: 20px;
    text-align: center;
}

.tv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    aspect-ratio: 2 / 1;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
}

.tela {
    width: 98%;
    height: 96%;
    background-color: black;
    border-radius: 16px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carrossel {
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card {
    flex: 1 1 clamp(200px, 25%, 300px);
    max-width: 400px;
    min-width: 200px;
    height: 270px;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 8px;
    background: #f9f9f9;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.imagem-prato {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 6px;
}

.logo {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 10;
}

.fundo-logo {
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#logo-img {
    width: 80px;
    height: auto;
    transition: transform 0.4s ease, filter 0.4s ease;
    cursor: pointer;
}


@media (max-width: 768px) {
    .h1 {
        font-size: 2rem;
    }

    #logo-img {
        width: 60px;
    }

    .card {
        flex: 1 1 45%;
    }
}

@media (max-width: 480px) {
    .h1 {
        font-size: 1.5rem;
    }

    .tv {
        aspect-ratio: 1.5 / 1;
    }

    .card {
        flex: 1 1 100%;
    }
}
